/* HEADER STYLING */

.header-container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.header-list {
    padding: 22px;
    margin-left: 100px;
}

a {
    text-decoration: none;
}

.headerMenu {
    padding: 10px;
    font-family: 'Rubik';
    font-weight: normal;
    color: #4F5665;
    font-size: 16px;
}

.signIn {
    padding-right: 20px;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    color: #0B132A;
}

.signUp {
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    color: #F53855;
    border-radius: 25px;
    border: 2px solid #F53855;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
    width: 200px;
    height: 150px;
}

.signUp:hover {
    color: white;
    background-color: #f8092d;
    box-shadow: 0 0px 15px 0 rgba(245, 56, 56, 0.35);
}

/* HERO STYLING */
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-family: 'Rubik';
}

.big-text {
   font-size: 50px;
   color: #0B132A;
   max-width: 550px;
}

.small-text {
    font-size: 16px;
    margin-top: -30px;
    margin-bottom: 50px;
    max-width: 550px;
}

.hero-button {
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color: #F53855;
    box-shadow: 0 7px 15px 0 rgba(245, 56, 56, 0.35);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}
.hero-button:hover {
    background-color: #f8092d;
    box-shadow: 0 0px 15px 0 rgba(245, 56, 56, 0.35);
}

.illustration-1 {
    max-width: 500px;
    height: 85%;
    padding-top: 50px;
}


/* STATS BAR STYLING */
.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.stats-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 14px 15px 0 rgba(13, 16, 37, 0.1);
}

.users-div {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 30px;
    font-family: 'Rubik';
}

.locations-div {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Rubik';
    
}

.servers-div {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 90px;
    font-family: 'Rubik';
}

.delimitation-div {
    display: flex;
    justify-content: center;
    padding-left: 80px;
}

.delimitation-image {
    max-height: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.userImage {
    padding-left: 30px;
    padding-right: 30px;
}

.locationImage {
    padding-left: 30px;
    padding-right: 30px;
}


.serverImage {
    padding-left: 30px;
    padding-right: 30px;
}

/* FEATURES SECTION STYLING */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.features-text {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.h1 {
    font-family: 'Rubik';
    font-weight: normal;
    font-size: 34px;
    max-width: 400px;
}

.featuresDescription {
    font-family: 'Rubik';
    max-width: 400px;
    margin-top: 0;
}

.bullets {
    display: flex;
    font-family: 'Rubik';
}

.bulletImg {
    padding-right: 10px;
}

.illustration2 {
    padding-right: 100px;
}


/* PLAN SECTION STYLING */
.planSection {
    justify-content: center;
    align-items: center;
}

.planText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    padding-top: 120px;
    padding-bottom: 60px;
}

.planBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.includedBenefits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.plans {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    border-radius: 25px;
    border: 2px solid #DDDDDD;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 610px;
}

.plans:hover {
    border: 2px solid #F53838;
}

.h3Plan {
    font-family: 'Rubik';
    font-size: 18px;
}

.benefits {
    display: flex;
    font-family: 'Rubik';
    font-size: 14px;
}

.freeLast {
    padding-bottom: 87px;
}

.standardLast {
    padding-bottom: 47px;
}

.h2Plan {
    font-family: 'Rubik';
    font-size: 25px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 16px;
    color: #F53855;
    border-radius: 25px;
    border: 2px solid #F53855;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 25px;
    padding-right: 25px;
}

.select:hover {
    color: white;
    background-color: #f8092d;
    box-shadow: 0 0px 15px 0 rgba(245, 56, 56, 0.35);
}

/* MAP SECTION STYLING */
.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapTitle {
    font-family: 'Rubik';
    font-size: 35px;
    padding-top: 120px;
    margin-bottom: 0;
    max-width: 380px;
    text-align: center;
}

.mapDescription {
    font-family: 'Rubik';
    text-align: center;
    max-width: 500px;
    padding-bottom: 120px;
}

.mapPicture {
    max-width: 1200px;
}

/* SPONSOR SECTION STYLING */
.sponsorBanner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    gap: 150px;
}

/* FEEDBACK SECTION STYLING */
.feedback {
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.feedbackTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedbackh1 {
    font-family: 'Rubik';
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    max-width: 350px;
}

.feedbackDescription {
    font-family: 'Rubik';
    text-align: center;
    max-width: 550px;
}

.feedbackBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
}

.box {
    max-width: 350px;
    border-radius: 25px;
    border: 2px solid #DDDDDD;
    height: 170px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.customerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.customerInfo {
    margin: 0;
}

.customerName {
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}

.customerAddress {
    font-family: 'Rubik';
    font-weight: lighter;
    font-size: 14px;
    margin-top: 0px;
}

.ratingDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.customerFeedback {
    font-family: 'Rubik';
}